@import "tailwindcss";

/* Custom utility to hide scrollbars on the columns */
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}